@import "fonts";

* {
  scroll-behavior: smooth;
}

// LOGO
.logo-container {
  margin: 1%;
}

logo {
  font-family: "Maragsa";
  font-size: 21px;
  letter-spacing: 1.5px;
  position: sticky;
}

// HORIZONTAL SCROLLING CONTAINERS
.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.intro-block {
  padding-top: 15%;
  height: 100%;
  margin-left: 10%;
}

.block {
  height: 100%;
  // min-width: 70%;
  display: flex;
  justify-content: center;
}

// TEXT STYLES
.introduction-header-text {
  font-family: "Ovo";
  font-size: 76px;
}

.introduction-sub-text {
  font-family: "Epilogue";
  font-size: 18px;
  letter-spacing: 0.5px;
}

.introduction-motto-text {
  font-family: "Ovo";
  font-size: 65px;
  letter-spacing: 2px;
  line-height: 75px;
}

.introduction-motto-text > h3 {
  font-family: "Epilogue";
  font-size: 25px;
  letter-spacing: 0.5px;
}
