.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  font-family: "Ovo";
  font-size: 100px;
  width: 80%;
}

#loading-span-text {
  font-family: "Epilogue";
  font-size: 100px;
  letter-spacing: 0.5px;
}
